#p1{
    background-color: darkgray;
}

#p2{
    background-color: darkgray;
}

#p3{
    background-color: darkgray;
}

#p4{
    background-color: darkgray;
}

#p5{
    background-color: darkgray;
}

#p6{
    background-color: darkgray; 
}

#p6{
   border: 3px solid grey;
   border-radius: 15px;
}