header {
  background-color: #000000; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  margin: 0;
  padding: 0;
}



a{
    color: white;
}

span{
    position: relative;
    right: 20px;
}
