.first{
    width: 90px;
    height: 90px;
    border: 1px solid red;
    display: block;
}

.second{
    width: 90px;
    height: 90px;
    border: 1px solid blue;
    display: inline;
}

.third{
    width: 90px;
    height: 90px;
    border: 1px solid green;
    display: inline-block;
}


div {
    -webkit-flex: 1; 
}


div {
    -ms-grid: 1; 
    display: grid; 
}


div {
    -moz-transform: rotate(45deg); 
    transform: rotate(45deg); 
}
