*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(141, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}