.header{
    color: rgb(255, 255, 255);
    background-color: black;
}

.blue{
    color: white;
    background-color: blue;
}

.green{
    color: white;
    background-color: green;
}

.yellow{
    color: white;
    background-color: yellow;
}

.red{
    color: white;
    background-color: red;
}

.aqua{
    color: white;
    background-color: aqua;
}